@media (max-width: 500px) {
  html {
    font-size: 8.5px;
  }
  .about__info {
    flex-direction: column;
  }
  .info__text {
    margin-top: 3rem;
    width: 90%;
  }
  .info__img__container {
    margin-top: 2rem;
  }
  .about__stack {
    height: 20vh;
  }
}
